html, body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid #29235C;
  cursor: pointer;
}
/*
footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 289px;
}*/
